In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.2'

In [5]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [25]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [32]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [24]:
engine.connect()

In [26]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [27]:
df_iter

In [28]:
df = next(df_iter)

In [30]:
len(df)

100000

In [33]:
# Create table using ddl from dataframe
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [34]:
# Add data to the table
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.19 s, sys: 75.9 ms, total: 4.27 s
Wall time: 8.64 s

1000

In [38]:
from time import time

In [ ]:
# Add the rest of data to database table
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk and it took %.3f seconds' % (t_end - t_start))

inserted another chunk and it took 8.628 seconds
inserted another chunk and it took 8.711 seconds
inserted another chunk and it took 8.531 seconds
inserted another chunk and it took 8.805 seconds
inserted another chunk and it took 9.243 seconds
inserted another chunk and it took 9.092 seconds
inserted another chunk and it took 8.995 seconds
inserted another chunk and it took 8.994 seconds
inserted another chunk and it took 8.994 seconds
inserted another chunk and it took 10.035 seconds