In [1]:
import pandas as pd

In [6]:
from sqlalchemy import create_engine

In [7]:
pd.__version__

'1.5.2'

In [8]:
df = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup_data', con=engine))

CREATE TABLE taxi_zone_lookup_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [12]:
df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=100000)

In [13]:
df_iter

In [14]:
df = next(df_iter)

In [15]:
len(df)

265

In [16]:
# Create table using ddl from dataframe
df.head(n=0).to_sql(name='taxi_zone_lookup_data', con=engine, if_exists='replace')

0

In [17]:
# Add data to the table
%time df.to_sql(name='taxi_zone_lookup_data', con=engine, if_exists='append')

CPU times: user 9.95 ms, sys: 88 Âµs, total: 10 ms
Wall time: 73.3 ms

265

In [18]:
from time import time

In [19]:
# Add the rest of data to database table
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='taxi_zone_lookup_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk and it took %.3f seconds' % (t_end - t_start))

StopIteration: